backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
certifi==2017.11.5
cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
h5py==2.7.1
joblib==0.11
mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.1
numpy==1.13.3
pandas==0.21.1
patsy==0.4.1
pygpu==0.7.5
pymc3==3.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
seaborn==0.8.1
singledispatch==3.4.0.3
six==1.11.0
Theano==1.0.1
tornado==4.5.2
tqdm==4.19.5
wincertstore==0.2
